<a href="https://colab.research.google.com/github/saimasharleen/thyroid-dataset/blob/main/thyroidresearch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#connecting Google Drive with Colab
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd
data = pd.read_csv('/content/gdrive/My Drive/Thyroid cancer/dataset/sick-euthyroid.data')

In [3]:
#adding the columns name
data.columns = ['class','age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid', 'query_hyperthyroid',
'pregnant', 'sick', 'tumor', 'lithium', 'goitre', 'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG']

In [4]:
data.head()

            class age sex on_thyroxine  ... FTI_measured  FTI TBG_measured TBG
0  sick-euthyroid  45   F            f  ...            y  112            n   ?
1  sick-euthyroid  64   F            f  ...            y  123            n   ?
2  sick-euthyroid  56   M            f  ...            y   99            n   ?
3  sick-euthyroid  78   F            t  ...            y   91            n   ?
4  sick-euthyroid  80   M            f  ...            y  120            n   ?

[5 rows x 26 columns]

In [5]:
# import main libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame as df

In [7]:
titles = list(data.columns)
titles

['class',
 'age',
 'sex',
 'on_thyroxine',
 'query_on_thyroxine',
 'on_antithyroid_medication',
 'thyroid_surgery',
 'query_hypothyroid',
 'query_hyperthyroid',
 'pregnant',
 'sick',
 'tumor',
 'lithium',
 'goitre',
 'TSH_measured',
 'TSH',
 'T3_measured',
 'T3',
 'TT4_measured',
 'TT4',
 'T4U_measured',
 'T4U',
 'FTI_measured',
 'FTI',
 'TBG_measured',
 'TBG']

In [8]:
titles[0], titles[1], titles[2], titles[3], titles[4], titles[5],titles[6], titles[7], titles[8], titles[9], titles[10], titles[11], titles[12], titles[13], titles[14],titles[15], titles[16], titles[17], titles[18], titles[19], titles[20], titles[21], titles[22], titles[23], titles[24], titles[25] = titles[1], titles[2], titles[3], titles[4], titles[5],titles[6], titles[7], titles[8], titles[9], titles[10], titles[11], titles[12], titles[13], titles[14],titles[15], titles[16], titles[17], titles[18], titles[19], titles[20], titles[21], titles[22], titles[23], titles[24], titles[25], titles[0]
titles

['age',
 'sex',
 'on_thyroxine',
 'query_on_thyroxine',
 'on_antithyroid_medication',
 'thyroid_surgery',
 'query_hypothyroid',
 'query_hyperthyroid',
 'pregnant',
 'sick',
 'tumor',
 'lithium',
 'goitre',
 'TSH_measured',
 'TSH',
 'T3_measured',
 'T3',
 'TT4_measured',
 'TT4',
 'T4U_measured',
 'T4U',
 'FTI_measured',
 'FTI',
 'TBG_measured',
 'TBG',
 'class']

In [10]:
data = data[titles]
data

     age sex on_thyroxine  ... TBG_measured TBG           class
0     45   F            f  ...            n   ?  sick-euthyroid
1     64   F            f  ...            n   ?  sick-euthyroid
2     56   M            f  ...            n   ?  sick-euthyroid
3     78   F            t  ...            n   ?  sick-euthyroid
4     80   M            f  ...            n   ?  sick-euthyroid
...   ..  ..          ...  ...          ...  ..             ...
3157  40   F            f  ...            n   ?        negative
3158  69   F            f  ...            n   ?        negative
3159  58   F            f  ...            n   ?        negative
3160  29   F            f  ...            n   ?        negative
3161  56   F            t  ...            n   ?        negative

[3162 rows x 26 columns]

In [11]:
data.head()

  age sex on_thyroxine query_on_thyroxine  ...  FTI TBG_measured TBG           class
0  45   F            f                  f  ...  112            n   ?  sick-euthyroid
1  64   F            f                  f  ...  123            n   ?  sick-euthyroid
2  56   M            f                  f  ...   99            n   ?  sick-euthyroid
3  78   F            t                  f  ...   91            n   ?  sick-euthyroid
4  80   M            f                  f  ...  120            n   ?  sick-euthyroid

[5 rows x 26 columns]